// app global css in SCSS form
.main {
  background-color: $main;
}

.title {
  text-transform: capitalize;
}

.my-background {
  background: rgba(122, 186, 255, 1);
  background: -moz-linear-gradient(top, $mcolor, $mcolor2, $mcolor3, $mcolor4);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(122, 186, 255, 1)),
    color-stop(26%, rgba(130, 178, 227, 1)),
    color-stop(41%, rgba(163, 189, 215, 1)),
    color-stop(100%, rgba(163, 189, 215, 1))
  );
  background: -webkit-linear-gradient(
    top,
    $mcolor,
    $mcolor2,
    $mcolor3,
    $mcolor4
  );
  background: -o-linear-gradient(top, $mcolor, $mcolor2, $mcolor3, $mcolor4);
  background: -ms-linear-gradient(top, $mcolor, $mcolor2, $mcolor3, $mcolor4);
  background: linear-gradient(to bottom, $mcolor, $mcolor2, $mcolor3, $mcolor4);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abaff', endColorstr='#a3bdd7', GradientType=0 );
}

.my-background2 {
  background: rgb(19, 229, 82);
  background: linear-gradient(
    17deg,
    rgba(251, 224, 41, 1) 0%,
    rgba(245, 233, 102, 1) 9%,
    rgba(59, 184, 0, 1) 100%
  );
}

.text-shad {
  text-shadow: 1px 1px #bbbbbb;
}
